<html>
    <head>
            <title> fabcar network</title>
     
    </head>
    <body>
        <form method="POST" action="/register">
            <input type="text" name="username"  placeholder="UserName*" />
            <input type="text" name="password"  placeholder="password*" value ="myPass" />
            <input type="text" name="msp_id" placeholder="msp_id*" value="org1MSP"/>
            <input type="text" name="affiliation" placeholder="affiliation*" value="org1.department1"/>

            <input type="submit" />
        </form>
    </body>
</html>